<section class="loginForm">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-8  mx-auto custom-border border rounded-2 border-2  my-5 shadow-lg p-3 mb-5 bg-body rounded">
                <form class="px-5 py-5" #loginForm="ngForm" (ngSubmit)="loginFormSubmit(loginForm.value)">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label fw-bold">Email address</label>
                      <input type="email" class="form-control" [class.is-invalid]="loginEmail.touched&&loginEmail.invalid" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required id="exampleInputEmail1" #loginEmail="ngModel" [(ngModel)]="email"  name="email" /> 
                      <div *ngIf="loginEmail.touched&&loginEmail.invalid " class="error"> 
                        <span *ngIf="loginEmail.errors?.['required']" >*Email address is required.</span>
                        <span *ngIf="loginEmail.errors?.['pattern']">*Email address is invalid.</span>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" [ngClass]="loginPassword.touched&&loginPassword.invalid?'is-invalid':''" required name="password" #loginPassword="ngModel" [(ngModel)]="password"   >
                      <div *ngIf="loginPassword.touched&&loginEmail.invalid " class="error"> 
                        <span *ngIf="loginPassword.errors?.['required']" >*Password is required.</span> 
                      </div>
                    </div>
                    <button type="submit" class="btn LoginButton" [disabled]="email==''||password==''">Login</button>
                  </form>
            </div>
        </div>

    </div>
</section>